<div class="row">
    <div class="col-lg-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tipos de ventas</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Monto</th>
                  <th>Aportacion</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Estacionario</td>
                  <td>53275531</td>
                  <td>59%</td>
                  <td><label class="badge badge-danger">----</label></td>
                </tr>
                <tr>
                  <td>Portatil</td>
                  <td>53275532</td>
                  <td>10%</td>
                  <td><label class="badge badge-warning">---</label></td>
                </tr>
                <tr>
                  <td>Carburacion</td>
                  <td>53275533</td>
                  <td>14%</td>
                  <td><label class="badge badge-info">---</label></td>
                </tr>
                <tr>
                  <td>Venta directa</td>
                  <td>53275534</td>
                  <td>16%</td>
                  <td><label class="badge badge-success">----</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{titulo_grafico}}</h4>
          <canvas baseChart [chartType]="'doughnut'" [datasets]="trafficChartData" [labels]="trafficChartLabels"
            [options]="trafficChartOptions" [colors]="trafficChartColors"></canvas>
          <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
            <ul>
              <li>
                <span class="legend-dots"></span>Estacionario
                <span class="float-right">30%</span>
              </li>
              <li>
                <span class="legend-dots"></span>Portatil
                <span class="float-right">20%</span>
              </li>
              <li>
                <span class="legend-dots"></span>Carburacion
                <span class="float-right">35%</span>
              </li>
              <li>
                <span class="legend-dots"></span>Venta directa
                <span class="float-right">20%</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
