<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-dark text-white mr-2">
      <i class="mdi mdi-chart-bar"></i>
    </span>
    {{titulo}}
  </h3>
</div>
<!-- componente general -->
<app-general></app-general>
<!-- component graficos -->
<app-graficos></app-graficos>
<!-- componente de tabla -->
<app-tabla></app-tabla>